<!DOCTYPE html>
<html lang="en" ng-app="phonecatApp">
<head>
    <meta charset="htf-8">
    <title>Anjing File</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="PhoneListCtrl">
    <p>what is here {{'yet'+'!'}}</p>
    <p> 5+10 = {{5+10}}</p>

    <ul>
      <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
      </li>
    </ul>
   
    <p>the total number of movies is : 2  </p>
    
  <!-- *****乘法表******* -->
    <table>
      <tr ng-repeat=" i in [1,2,3,4,5,6,7,8]">
        <td ng-repeat="j in [1,2,3,4,5,6,7,8]">&nbsp;&nbsp;{{i*j}}&nbsp;&nbsp;</td>
      </tr>
    </table>



</body>
</html>
